<div>
    <h2 id="page-heading">
        <span>Yacht Categories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-yacht-category" [routerLink]="['/yacht-category/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Yacht Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="yachtCategories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Championship</span></th>
            <th><span>Race Result</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let yachtCategory of yachtCategories ;trackBy: trackId">
                <td><a [routerLink]="['/yacht-category', yachtCategory.id, 'view' ]">{{yachtCategory.id}}</a></td>
                <td>{{yachtCategory.name}}</td>
                <td>
                    <div *ngIf="yachtCategory.championship">
                        <a [routerLink]="['../championship', yachtCategory.championship?.id, 'view' ]" >{{yachtCategory.championship?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="yachtCategory.raceResult">
                        <a [routerLink]="['../race-result', yachtCategory.raceResult?.id, 'view' ]" >{{yachtCategory.raceResult?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/yacht-category', yachtCategory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/yacht-category', yachtCategory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'yacht-category/'+ yachtCategory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
